- name: Ensure firewalld is installed
  ansible.builtin.dnf:
    name: firewalld
    state: present

- name: Ensure firewalld is enabled and running
  ansible.builtin.service:
    name: firewalld
    state: started
    enabled: true

- name: Allow HTTP service in firewalld
  ansible.posix.firewalld:
    service: http
    state: enabled
    permanent: true
    immediate: true

- name: Allow HTTPS service in firewalld
  ansible.posix.firewalld:
    service: https
    state: enabled
    permanent: true
    immediate: true
